/**
 * Blocks
 */


.block{    
    overflow: hidden; 
    min-height: $height-unit + $block-padding * 2; 
    
    .block-body{
        margin: $block-padding;
        min-height: $height-unit; 
        position: relative;
        height: 100%;
    }

    &:hover{
    	@extend .block-background-hover;
  	}

  	.block-background-hover{
  		transform: scale(1.05);
  		transition-duration: 0.5s;
	}
}
.block-about{
	background-position:580px 240px;
  transition: transform .2s;
}

.block-about:hover,.block-books:hover {
    transform: scale(1.1);
}


